@tailwind base;
@tailwind components;
@tailwind utilities;

/* Suppress number input spinners */
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
}
input[type=number] {
  -moz-appearance: textfield;
}

/* Custom text selection color */
::selection {
  background: rgba(34, 211, 238, 0.3);
}

/* Scrollbar CSS variables */
:root {
  --scrollbar-bg: #F8FAFC;
  --scrollbar-thumb: #CBD5E1;
}
.dark {
  --scrollbar-bg: #020617;
  --scrollbar-thumb: #334155;
}

/* Scrollbar styling */
::-webkit-scrollbar {
  width: 4px;
}
::-webkit-scrollbar-track {
  background: var(--scrollbar-bg);
}
::-webkit-scrollbar-thumb {
  background: var(--scrollbar-thumb);
  border-radius: 2px;
}
